# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv python configuration file
.python-version

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# project specific
2018-03-25 Old source files/
2018-03-25 Old configurations/

# configurations
2018-03-24_small-2/
IS2017/
configs/Batch runner.sh
configs/2018-03-25\ Old\ configurations/
configs/2018-04-02_small/
configs/2018-04-04_small/
configs/2018-04-24_small/
configs/2018-04-30_small/
configs/BPIC12/
configs/Batch\ runner.sh

# specific experimental configs
configs/BPIC18/Decomposition/
configs/BPIC18/FindSharedActivities/
configs/BPIC18/Metric/
configs/BPIC18/Replay/Debug-RGraph-LExclude-S-M15/
configs/BPIC18/Replay/default/
configs/BPIC18/Replay/RFiveConflictSetGraph-LExclude-S-M15/
configs/BPIC18/Replay/RLazy-LAll-S-M15/
configs/BPIC18/Replay/RLazy-LExclude-S-M15/
configs/BPIC18/Replay/RLazy-LGroup-S-M15/
configs/BPIC18/Replay/All\ batch\ runner.sh
configs/BPIC18/Replay/Exclude\ batch\ runner.sh
configs/BPIC18/Replay/Group\ batch\ runner.sh

configs/2018-05-01_small/Replay/Debug-RGraph-LExclude-S-M15/
configs/2018-05-01_small/Replay/default/
configs/2018-05-01_small/Replay/RLazy-LAll-S-M15/
configs/2018-05-01_small/Replay/RLazy-LGroup-S-M15/
configs/2018-05-01_small/Replay/RLazy-LExclude-S-M15/
configs/2018-05-01_small/Replay/All\ batch\ runner.sh
configs/2018-05-01_small/Replay/Exclude\ batch\ runner.sh
configs/2018-05-01_small/Replay/Group\ batch\ runner.sh

# prom stuff
prom-6.5.1/2018-03-26 packages/
prom-6.5.1/ProM651_lib_052017/
prom-6.5.1/packages_052017/
prom-6.5.1/testMonolithicReplayBoot.jar
prom-6.5.1/testRecomposingReplayBoot.jar
prom-6.5.1/packages_18042018/
prom-6.5.1/packages_24042018/
prom-6.5.1/packages_26032018/
prom-6.5.1/packages_28042018/
prom-6.5.1/Old\ boot\ jars/
prom-6.5.1/test_results/

# results
results/2018-03-26 IS2017/
results/2018-*
results/Before\ 2018-05-04/
results/Final\ 20180501\ iterations/
Scholarship\ summary-checkpoint.ipynb
CONICYTSummaryTimeBarchart.jpg
Scholarship\ summary.ipynb

# data
data/test/P307/dirty/
data/test/net1/
data/synthetic/2018-03-24_small-2/
data/synthetic/2018-04-02_small/
data/synthetic/2018-04-04_small/
data/synthetic/2018-04-24_small/
data/synthetic/2018-04-30_small/
data/synthetic/BPIC12/
data/synthetic/BPM2013/
data/synthetic/IS2013/
data/synthetic/IS2017/
data/real/BPIC12/

# ignore extra event logs
l1000/
l2000/
l5000/
# ignore decomposed net arrays
generic_25/
generic_50/
sese_25/
sese_10/
# ignore dirty files
dirty/
# ignore intermediate results
mined/
handmade/
sampled\ logs/
subprocess\ logs/
BPI\ Challenge\ 2018.xes.gz

podspy/
misc/Analyze\ alignments/
src/preprocess/add_swap_noise.py
